<h1>PROFILE</h1>
<%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
<%= link_to "My donations", "", class: "btn btn-flat" %>






<h3>Kind people are my kinda people</h3>


<h4>emoji      10 donations thank you</h4>
