
    <div class="profile-top">
      <h1 class="title-white">Hello <%= current_user.first_name %> </h1>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered my-3", alt: "avatar-bordered" %>
      <%= link_to "My donations", "", class: "btn-blue-lrg py-3" %>
      <h2 class="italic-bold py-3">Kind people are my kinda people</h2>
    </div>
    <div class="profile-btm">
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9JISkH2GrxO00DQH4TZSdu0F51TmXijKXuiO2qOY&s", class: "smiley", alt: "avatar-bordered" %>
      <h2 class="italic-bold">You have made 10 donations! Thank you!</h2>
    </div>
