<div class="footer">
  <div>
    <i class="fa-sharp fa-solid fa-house"></i>
  </div>

  <% if user_signed_in? %>
    <% if !admin? %>
      <%= link_to 'my donations', recipients_path, class: "btn btn-flat" %>
    <% end %>

    <% if admin? %>
      <%= link_to 'my recipients', recipients_path, class: "btn btn-flat" %>
    <% end %>
  <% end %>

  <div>
    <i class="fa-regular fa-user"></i>
  </div>

</div>
