<div class="footer">
  <div>
    <i class="fa-sharp fa-solid fa-house"></i>
  </div>
  <div>
    <%= link_to "My donations", "", class: "btn btn-flat" %>
  </div>
  <div>
  <i class="fa-regular fa-user"></i>
  </div>

</div>
