<div class="container">
  <div class="cards">
    <% if @user.donations.present? %>
      <% @donations.each do |donation| %>
        <p>
          <%= link_to 'Show recipient', recipient_path(donation.recipient_id)  %>
          <%= @donation.recipients.name %>
        </p>
      <% end %>
    <% end %>

    <% if @user.admin? %>

      <%= link_to 'new recipient', new_recipient_path  %>

      <% @recipients.each do |recipient| %>
        <p>
          <%= link_to "Show recipient", recipient_path(recipient)  %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
