<div class="container">
  <div class="cards">
    <% if @user.donations.present? %>
      <% @donations.each do |donation| %>
        <p>
          <%= link_to donation.recipient.name, recipient_path(donation.recipient_id)  %>

        </p>
      <% end %>
    <% end %>

    <% if @user.admin? %>

      <%= link_to 'new recipient', new_recipient_path  %>

      <% @recipients.each do |recipient| %>
        <p>
        <br>
          <div class="card">
           <div class="card-body">
          <%= link_to recipient.name, recipient_path(recipient)  %>
           </div>
          </div>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
