<h1>show page for recipient</h1>

<% if admin?  %>
  <%= link_to 'edit', edit_recipient_path %>
  <%= link_to 'delete', recipient_path(@recipient), data: { "turbo-method": :delete, "turbo-confirm": "are you sure?"} %>
<% end  %>

<% if !admin?  %>
  <%= render "new_donation", donation: @donation %>
<% end  %>
