  <div class = "container">
   <div class = "banner">
    <div class = flexbo>
     <h1>Good Deed</h1>
       </div>
    </div>
  <br>
  <br>
<div class = "wrapper">
  <div class = "container">
    <div class = "cards" style="width: 18rem;">
      <br>
    <%=  link_to  "Donate QR Scan", new_donation_path %>
       <br>
     </div>
  </div>
</div>
