<h1>Pages#home</h1>

# In this instants what I'm attempting to do is create a donate button which
# Be redirect to the donate page
<%
=begin%>
 raise
<%=  redirect_to "Donate QR Scan", new_recipient_donation_path(@donation) %>
<%
=end%>
