<div class="green-background">

<%# ALL WILL SEE THIS, LOGGED IN OR NOT, ADMIN OR USER %>
  <div class="d-flex justify-content-center">
    <%=image_tag "https://res.cloudinary.com/dl9jjyyew/image/upload/v1662643947/GoodDeedWhite_ufm7vi.png", style: 'height:auto;width:90%;', class: "logo-title" %>
  </div>


  <%# if no one is logged in %>
    <% if !user_signed_in? %>
    <%# show the donate button which will open camera %>
      <div class="d-flex justify-content-center">
        <label for="donate" class="btn-orange-lrg">Donate</label>
        <input type="file" name="photo" id="donate">
      </div>
      <div class="about-text">
        <p class = "p-blue">
          Some of the most vulnerable people in society can find themselves homeless. Like those with mental health issues or young people who are victims of abuse.
          With your help, good deed work with homeless people to help get them off the street into shelters and make sure they have food and drink.
        </p>
      </div>

      <div class="d-flex justify-content-center">
        <%# This is for a modal or scroll down %>
        <!-- Button trigger modal -->
        <button type="button" class="btn-blue-sml" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Read More
        </button>
      </div>

      <%# <div class="wrapper">
        <div class = "container">
          <br>      <br>      <br>      <br>
          <div class="d-flex justify-content-center">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
        </div>
      </div> %>

        <%# if the user is signed in and not an admin %>
    <% elsif user_signed_in? && !admin? %>
        <%# show a link to my donations so i can see them all %>
        <div class="d-flex justify-content-center">
          <%= link_to "My Donations", recipients_path, class: "btn-blue-sml d-flex" %>
        </div>
        <div class="d-flex justify-content-center">
          <label for="donate" class="btn-orange-lrg">Donate</label>
          <input type="file" name="photo" id="donate">
        </div>
        <div class="about-text">
          <p class = "p-blue">
          Some of the most vulnerable people in society can find themselves homeless. Like those with mental health issues or young people who are victims of abuse.
          With your help, good deed work with homeless people to help get them off the street into shelters and make sure they have food and drink...
        </p>
        </div>
        <div class="d-flex justify-content-center">
          <%# This is for a modal or scroll down %>
          <!-- Button trigger modal -->
          <button type="button" class="btn-blue-sml" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Read More
          </button>
        </div>


      <% else %>
      <%# if the user is admin %>
        <div class="d-flex justify-content-center">
          <h1 class="title-blue">Hello <%= current_user.first_name %> </h1>
        </div>
        <div class="d-flex justify-content-center">
        <%# show the link to my people %>
          <%= link_to "My People", recipients_path, class: "btn-blue-lrg d-flex" %>
        </div>
      <% end %>


<%# modal pop up when you click read more %>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="title-blue" id="exampleModalLabel">Good Deed</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p class ="p-blue-bigger">Some of the most vulnerable people in society can find themselves homeless.
        Like those with mental health issues or young people who are victims of abuse.
        </p>
        <p class="p-blue-bigger">With your help, good deed work with homeless people to help get them off the street
        into shelters and make sure they have food and drink.
        </p>
        <p class="italic-bold">How does it work?</p>
        <ol>
          <li class="p-blue">Shelters provide people facing homelessness with a prepaid card with a QR code
          which is specific to them.
          </li>
          <li class="p-blue">You can scan this QR code from the camera on your phone and it will link you
          to their page displaying their photo and more information about how they ended up
          in this position.
          </li>
          <li class="p-blue">Then, you can donate money to their card so they can use if and when they need
          in specific stores like Sainsburys and Tesco or for a night in a local shelter
          </li>
        </ol>
        <p class="italic-bold">Which means...</p>
        <ul>
          <li class="p-blue">No more worrying where the money is going</li>
          <li class="p-blue">Much more people getting off the streets and getting their lives on track</li>
        </ul>
        <p class="p-blue-bigger">What good deed are you going to do today?</p>
        </div>
      </div>
    </div>
</div>
