<div class="home-top">
  <%=image_tag "https://res.cloudinary.com/dl9jjyyew/image/upload/v1662643947/GoodDeedWhite_ufm7vi.png", style: 'height:auto;width:90%;', class: "logo-title" %>
  <div class="about-text">
    <p class = "p-white">
      Good Deed are a wonderful charity who work with homeless people to help get them off the street.
      80% of people say they are more likely to donate to the homeless if they knew...
      <%# THIS PART CAN BE PART OF THE READ MORE MODAL
      they were going to spend it on shelter or food.
      Thanks to Good Deed, you can easily donate to someone on the street and you can be sure the money will only be spent helping them in a positive way. %>
    </p>
  </div>

  <div>
    <%# This is for a modal or scroll down %>
    <%= link_to "Read more", root_path, class: "btn-blue-sml d-flex" %>
  </div>
</div>
<%# if no one is logged in %>
  <% if !user_signed_in? %>
    <div class="home-bottom">
    <%# show the donate button which will open camera %>
      <label for="donate" class="btn-orange-lrg">Donate</label>
      <input type="file" name="photo" id="donate">
<%# if the user is signed in and not an admin %>
    <% elsif user_signed_in? && !admin? %>
      <%# show a link to my donations so i can see them all %>
      <%= link_to "My Donations", recipients_path, class: "btn-blue-sml d-flex" %>
      <label for="donate" class="btn-orange-lrg">Donate</label>
      <input type="file" name="photo" id="donate">
    </div>
  <% else %>
  <%# if the user is admin %>
    <div class="home-bottom">
    <%# show the link to my people %>
      <%= link_to "My People", recipients_path, class: "btn-blue-sml d-flex" %>
    </div>
  <% end %>
</div>
