
<h1> Hello changemarker</h1>

<p class="p-white"> Enter the amount you would like to donate</p>
  <%= simple_form_for([@recipient, @donation]) do |f|  %>
    <%= f.input :amount, class: 'ml=-32' %>
      <ul>
        <button type="button" class="btn-orange-sml">£3</button>
        <button type="button" class="btn-orange-sml">£5</button>
        <button type="button" class="btn-orange-sml">£7</button>
      </ul>
      <div class="form-check">
        <%# <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> %>
        <label class="form-check-label" for="flexCheckDefault">Click to add gift aid</label>
      </div>
    <%= f.submit "Confirm" %>
  <% end %>
