<h1> Hello changemarker</h1>

<body>
<p> Enter the amount you would like to donate </p>
<ui>
   <li> Empty text box </li>
     <li> £3 </li>
      <li> £5 </li>
        <li> £7 </li>
  </ui>
<
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
  <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
</div>

<%= simple_form_for(@donation) do |f|  %>
  <%= f.input :recipient, collection: @recipients %>
  <%= f.submit "Submit" %>
<% end %>
