// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;


// large orange donate button
.btn-orange-lrg{
  background-color: #F98D44;
  border: none;
  border-radius: 400px;
  color: white;
  padding: 100px 60px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  box-shadow: 1px 1px 1px 0.5px grey;
}

.btn-orange-lrg:hover {
  background-color: #f49e64;
}

// this is the larger blue button
.btn-blue-lrg {
  background-color: #004274;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 0.5px grey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-blue-lrg:hover {
  background-color: #2176b6;
  color:white;
}


// blue button smaller version

.btn-blue-sml {
  margin: 10px;
  background-color: #004274;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.5px;
  box-shadow: 1px 1px 1px 0.5px grey;
}

.btn-blue-sml:hover {
  background-color: #2176b6;
  color:white;
}

// small orange button
.btn-orange-sml {
  background-color: #F98D44;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 25px 30px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  box-shadow: 1px 1px 1px 0.5px grey;
}




// login /sign up link - barely a button
.btn-link {

}
