$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

.cards {
}

.card {
  width: 350px;
  height: auto;
  margin: 15px auto 0px auto;
  // border: 4px solid #004274;
  padding-bottom: 10px;
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
  // border: 0.5px solid #004274;
  box-shadow: 1px 1px 1px #004274;
}

.card img {
  width: 90%;
  justify-content: center;
  height: auto;
  margin: auto;
  border-radius: 25px;
  margin-top: -10px;
}

a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.row {
  width: 80%;
  margin: 10px;
}

// .cards {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   // grid-template-columns: 1fr 1fr 1fr;
//   // grid-gap: 16px;
//}
