$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

.cards {
  padding-top: 15px;

}

.card {
  margin: 10px auto;
  // border: 4px solid #004274;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
}

.card img {
  width: 85%;
  height: auto;
  margin: auto;
  border-radius: 15px;
}

.row {
  width: 80%;
}

// .cards {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
//   // grid-template-columns: 1fr 1fr 1fr;
//   // grid-gap: 16px;
//}
