$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

.form {
  background-color: white;
  margin: 20px;
  padding: 30px;
  color: #004274;
  border-radius: 25px;
  box-shadow: 3px 3px 10px #004274;
  }

.form-inputs {
  border-radius: 25px;
  background-color: white;
  color:#F98D44;
}

.search-form {
  border-radius: 25px;
  background-color: white;
  color:#F98D44;
  margin: 20px;
  padding: 13px;
  text-align: center;
}
