$orange-gd: #F98D44;
$blue-gd: rgb(0, 66, 117);
$green-gd: #78D9B3;


.home-bottom{
  background-color: #78D9B3;
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.ap-blue {
  background-color: azure;
  color:#004274;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 25px;
  box-shadow:rgba(0, 66, 117, 2) 0px 5px 15px;
  padding: 11px;
  margin-top: 10px;
  margin-bottom: 0em;
  text-align: left;
  padding: 10px;
}
