// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "buttons";


// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;
