// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

.navbar {
  justify-content: space-between;
  background-color: #78D9B3;
  text-decoration: none;
}

.navbar-item {
  text-decoration: none;
}

.navbar-brand img {
  width: 40px;
}
