// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

.navbar {
  justify-content: space-between;
  background-color: #78D9B3;
  text-decoration: none;
  // margin-top: 15px;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-brand img {
  width: 60px;
  margin-left: 20px;
}

.fa-right-from-bracket{
  font-size: 20px;
}
.fa-right-to-bracket {
  font-size: 20px;
}
.fa-user-plus {
  font-size: 20px;
}
