$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;


.profile-top{
  margin: auto;
  text-align: center;
  background-color: #78D9B3;
}

.prof-qr {
  border-radius: 15px;
  width: 30px;
}

.prof-img {

  border-radius: 25px;
  width: 70%;
  height: 70%;
}

.search-mag {
  border-radius: 25px;
  background-color: none;
  padding: 10px;
}

// THIS IS ALL THE CSS FOR THE PROFILE USER PAGE - DONT NEED FOR NOW

// // hello, picture, button and quote
// .profile-top{
//   margin: auto;
//   text-align: center;
//   background-color: #78D9B3;
// }

// // number of donations and emoji
// .profile-bottom{
//   background-color: white;
//   margin: auto;
//   margin-top: -25px;
// }

// .bottom-top {
//   margin-top: 25px;
//   padding: 10px 0px;
// }

// .bottom-bottom{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 10px;
// }


// .smiley {
//   width:100px;
//   border-radius: 50%;
//   margin-top: 30px ;
//   margin-left: 10px;
//   margin-right: 10px;
// }

// .prof-text {
//   margin-top: 25px;
//   margin-left: 10px;
//   margin-right: 10px;
// }

// .search {
//   justify-content: center;
//   }

// .search-box {
//   color: #F98D44;
//   font-size: 20px;
//   font-family: 'Work Sans', sans-serif;
//   border: 1px solid #004274;
//   margin: 20px;
//   border-radius: 25px;
//   box-shadow: 1px 1px 1px 0.5px grey;
//   padding: 15px 20px;
// }
