// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

html * {
  font-family: 'Work Sans', sans-serif;
}

// main titles - hello's - white version
.title-white {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

// main titles - hello's small version
.small{
  font-size: 35px;
}
// main titles - hello's - blue version
.title-blue {
  color: #004274;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

//This is for sayings on the page and also names of homeless
.italic-bold {
  color: #004274;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-align: left;
  padding: 10px;
}

.bold-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  padding: 10px 14px;
  text-align: center;
}

.p-blue {
  color:#004274;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 0px 11px;
  margin-top: 10px;
  margin-bottom: 1em;
  text-align: left;
}

.names {
  color:#004274;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 0px 11px;
  margin-bottom: 5px;
  text-align: left;
}

.p-blue-bigger {
  color: #004274;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  text-align: left;
  // text-decoration: none;
}

p .p-blue-bigger {
  text-decoration: none;
}

.p-blue-med {
  color: #004274;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
}

.p-blue-sml {
  color: #004274;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}

.right {
  text-align: right;
  color: #F98D44;
  margin-right: 10px;
}

.p-orange{
  color: #F98D44;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: left;
}

.link-to a {
  margin: 5px 10px 0px 10px;
  text-decoration: none;
  color:#004274;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}

.fa-brands {
  color: white;
  font-size: 30px;
}

.fa-solid {
  color: white;
  font-size: 25px;
}

.solid {
  margin: 5px;
  border-top: 3px solid #bbb;
}


.fa-trash, .fa-pen-to-square {
  color: #004274;
  padding-bottom: 10px;
 }

.bold {
  font-weight: bolder;
}
