// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

html * {
  font-family: 'Work Sans', sans-serif;
}

// main titles - hello's - white version
.title-white {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

// main titles - hello's small version
.small{
  font-size: 35px;
}
// main titles - hello's - blue version
.title-blue {
  color: #004274;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

//This is for sayings on the page and also names of homeless
.italic-bold {
  color: #004274;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-weight: bolder;
  text-align: left;
}

.bold-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.p-blue {
  color:#004274;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 11px;
  margin-top: 10px;
  margin-bottom: 0em;
  text-align: left;
}

.p-blue-bigger {
  color: #004274;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

.p-blue-bigger a {
  text-decoration: none;
}

.p-orange{
  color: #F98D44;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: left;
}


.link-to a {
  text-decoration: none;
  color:#004274;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}
