// colours for the website
$orange-gd: #F98D44;
$blue-gd: #004274;
$green-gd: #78D9B3;

html * {
  font-family: 'Work Sans', sans-serif;
}

// main titles - hello's - white version
.title-white {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 50px;

}
// main titles - hello's - blue version
.title-blue {
  color: #004274;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

//This is for sayings on the page and also names of homeless
.italic-bold {
  color: #004274;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.bold-numbers {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.p-white {
  color: white;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.p-white-bigger {
  color: white;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.p-orange{
  color: #F98D44;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  padding: 20px;
  text-align: center;
}

.link-to {
  color:#004274;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}
